*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("assets/varying-stripes.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section {
  margin: 0 auto 2rem;
  padding: 1rem 0.75rem;
}

h2 {
  font-size: 1.7rem;
  color: #eb5a52;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  color: #4c4c4c;
  margin: 0.5rem auto;
}
h4 {
  margin: 0.75rem auto;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  gap: 1rem;
}

ul li {
  border: 1px dashed #ec5b53;
  border-radius: 0.7rem;
  padding: 2rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 95%;
}
.links {
  display: flex;
  flex-flow: column;
  justify-content: start;
}
a {
  text-decoration: none;
  color: #fff8fa;
}

a:hover {
  color: #eb5a52;
}

ul li p {
  text-align: center;
}
footer {
  height: 100%;
  min-height: 400px;
  background: #080827;
  color: #fffafc;
  padding: 4rem 1rem;
  text-align: center;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
}
.welcome_text {
  width: 95%;
}

.data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  background: #fff8fa;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.data p {
  font-size: 1rem;
  color: #080827;
  margin: 0.5rem auto;
}
.chunk {
  margin: 2rem auto 0;
  text-align: center;
}
.chunk > p {
  margin: 0.5rem auto;
}

.main {
  padding: 1rem 0;
}

.footer_header {
  font-size: 2rem !important;
}

.intro {
  background: #fffafc;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column-reverse;
  box-shadow: #4c4c4c81 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
}
.main_header {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.cut_header {
  color: #eb5a52;
}
.professional {
  background: #fff8fa;
  box-shadow: #ec5b537d 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
}

.career {
  background: #eb5a52;
  box-shadow: #4c4c4c81 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
  color: #080827;
}
.career h2 {
  color: #080827;
}

.career ul li {
  border: 1px dashed #080827;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}

.certification ul li {
  background: #fffafc;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  box-shadow: #4c4c4c81 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
}

.brand {
  background: #fff8fa;
}

@media (min-width: 600px) {
  section {
    margin: 0 auto 3rem;
    padding: 3rem 2rem;
  }
  h2 {
    font-size: 2.4rem;
    text-align: left;
  }
  h3 {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  .main {
    padding: 1rem 3rem;
  }

  .intro {
    flex-flow: row;
    margin-top: 2.5rem;
  }
  .main_header {
    font-size: 2rem;
    width: 80%;
    text-align: left;
  }
  footer {
    padding: 4rem;
  }
  ul {
    flex-flow: row;
  }
  ul li {
    flex-flow: column;
    flex: 0 0 32%;
  }
  .chunk {
    text-align: left;
  }
  .links {
    flex-flow: row;
    gap: 2rem;
    justify-content: center;
  }
}
