*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background: url("assets/varying-stripes.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main {
  padding: 1rem 3rem;
}

.goal {
  color: #080827;
  font-size: 1.2rem;
  font-weight: 500;
}

section {
  margin: 0 auto 3rem;
  padding: 3rem 2rem;
}

h2 {
  font-size: 2rem;
  color: #eb5a52;
}

h3 {
  font-size: 1.5rem;
  color: #4c4c4c;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
ul li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  flex: 0 0 32%;
  border: 1px dashed #ec5b53;
  padding: 1rem;
}
.chunk {
  margin: 3rem auto;
}

ul li p {
  text-align: center;
}

.intro {
  background: #fffafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #4c4c4c81 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
}
.main_header {
  font-size: 3rem;
  color: #4c4c4c;
  width: 80%;
}
.cut_header {
  color: #eb5a52;
}
.professional {
  background: #fff8fa;
  box-shadow: #ec5b537d 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
}

.career {
  background: #eb5a52;
  box-shadow: #4c4c4c81 0px 50px 100px -20px, #fffafc 0px 30px 60px -30px;
  color: #080827;
}
.career h2 {
  color: #080827;
}

.career ul li {
  border: 1px dashed #080827;
}

.brand {
  background: #fff8fa;
}
